<script type="text/x-jsrender" class="jHomeLayoutTmpl">
	<div>
		<h2>Welcome to Free cars</h2>
		<div>
			<p>Here you can select the car you need</p>
			<div class="jActiveCars"></div>
		</div>
	</div>
</script>
